@CHARSET "UTF-8";
@import "reset.css";
@import "all.css";
@import "highlight/monokai_sublime.css";

body {
    background: url(/images/layout/it-line2.jpg)
}

nav, footer{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.btm_link {
    text-decoration: none;
}

.langSet {
    display: inline-block;
    position: relative;
}

.langSet a {
    padding-right: 12px;
}

.langSet .btn_arr {
    display: block;
    font: 12px/14px Simsun;
    height: 4px;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 9px;
    width: 8px;
    z-index: -1;
}

.langSet .btn_arr span {
    display: block;
    margin: -8px 0 0 -1px;
}

.justcenter {
    text-align: center;
}

a.back2top {
    text-decoration: none;
    padding: 4px 8px;
    background: #333;
    color: #FFF;
}

a.back2top:hover {
    text-decoration: underline;
    background: #FFF;
    color: #333;
}

nav {
    border-right: 2px solid #96C7EE;
}

crumbs strong {
    color: #556677;
}

summary {
    border-top: 2px solid #DDDDDD;
    margin-bottom: 2em;
}

content > h1 {
    border-bottom: 1px solid #9d9d9d;
}

content note{
    background: #FFF;
    padding: 0 5px;
    margin: 0 2px;
}

content notice{
    background: #FFFF00;
}

content blockquote{
    color: #555;
    font-size: 1em;
    border-left: 5px solid #008e59;
    margin: 0 0 21px;
    padding: 10.5px 21px;
}

blockquote:before, blockquote:after {
    content: "";
}

content h4, content p, content ul, content ol, content pre, content blockquote, content table {
    margin: 18px 0;
}